@font-face{
  font-family:Poppins-Bold;
  src:url('../app/fonts/Poppins-Bold.ttf');
}
@font-face{
  font-family:Poppins-Light;
  src:url('../app/fonts/Poppins-Light.ttf');
}
@font-face{
  font-family:Poppins-Regular;
  src:url('../app/fonts/Poppins-Regular.ttf');
}
body{
  padding: 0px;
  margin: 0px;
  font-family:Poppins-Regular !important;
  font-size: 14px !important;
}
h1, h2, h3, h4 { 
  font-family:Poppins-Bold !important;
 }
 p{
  font-family:Poppins-Regular !important;
 }
ul{
  padding: 0px !important;
  margin: 0px !important;
}
li{
  list-style-type: none;
}
img{
  height: auto;
}
a{
  text-decoration: none !important;
}

.header-top-frame_main{
  background:#222222;
  padding: 20px 0px;
}
.header-bottom-frame_main{
  background: #000000;
}
.header-top-frame{
  display: flex;
  justify-content: space-between;
}
.header-top-frame .header-top-left{
  width: 15%;
}
.header-top-frame .header-top-left img{
  width:100%;
}
.header-top-frame .header-top-right{
  width: 80%;
}
.header-top-right ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-top-right ul li{
  display: flex;
  justify-content: space-between;
  width: 26%;
  justify-content: space-between;
  padding: 0px 20px;
}
.header-top-right ul li:last-child{
  width: 20%;
  float: right;
  justify-content: end;
  align-items: end;
  display: grid;
  padding: 0px 0px;
}
.header-top-right ul li .header-top-right-right{
  padding-left: 15px;
}
.header-top-right ul li img{
  width: 15px;
}
.header-top-right ul li h5{
  color: #FF7518;
  font-weight: bold;
  font-size: 16px;
}
.header-top-right ul li p{
color: #727272;
margin-bottom: 0px;
}
.header-top-right ul li a{
  background: #000;
  border-radius: 5px;
  color: #fff;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  padding: 7px 15px;
  border: 1px solid #FF7518;
  width: 110px;
  height: 37px;
}
.header-top-right ul li a:hover{
  background: #FF7518;
}
.header-bottom-frame_main-middle{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-bottom-frame_main-middle-left{
  width: 70%;
  padding-left: 16%;

}
.header-bottom-frame_main-middle-left ul{
  padding: 0px !important;
  display: flex;
  justify-content: space-between;
  width: 85%;
  align-items: center;
    height: 100%;
}
.header-bottom-frame_main-middle-left ul li{
  background: #000000;
    padding: 20px 0px;
}
.header-bottom-frame_main-middle-left ul li a{
  color: #707070;
  font-weight: 600;
  font-size: 15px;
}
.header-bottom-frame_main-middle-left ul li a:hover{
  color: #FF7518;
} 
.header-bottom-frame_main-middle-right{
  width: 30%;
  padding-left: 0%;

}
.header-sech-frame{
  position: relative;
}
.header-sech-frame input{
  background: #222222 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  height: 39px;
  width: 100%;
  border: 0px;
}
.header-sech-frame img{
  position: absolute;
  right: 20px;
  width: 21px;
  top: 11px
}
footer{
  background: #000;
  padding: 20px 0px;   
  margin-top: 0px;
}
.footer-middle{
  display: flex ;
      background: #222222;
      padding: 40px;
      border-radius: 25px;
      margin: 60px 0px;
}
.footer-middle-right{
  display: flex;
  flex-wrap: wrap;
  width: 40%;
}
.footer-middle-r{
  width: 50%;
  margin-bottom: 40px;
}
.footer-middle-r:nth-child(3){
  margin-bottom: 0px;
}
.footer-middle-r:nth-child(4){
  margin-bottom: 0px;
}
.footer-middle-r h4{
  color: #707070;
  font-size: 16px;
}
.footer-middle-r ul{
  margin-top: 15px !important;
}
.footer-middle-r ul li{
  
}
.footer-middle-r ul li a{
  letter-spacing: 0px;
    color: #FFFFFF;
    line-height: 34px;
}
.footer-middle-r ul li a:hover{
  color: #FF7518;
}
.footer-middle-left{
  width: 60%;
}
.footer-middle-left h4{
  color: #fff;
  font-size: 32px;
}
.footer-middle-left h4 span{
  color: #FF7518;
}
.footer-middle-left p{
  color: #FFFFFF;
  margin-top: 25px;
}
.footer-middle-left p span{
  display: block;
}
.footer-middle-left .footer-middle-left-search{
  
}
.footer-middle-left .footer-middle-left-search input{
  background: #F2F2F2 0% 0% no-repeat padding-box;
  border-radius: 20px;
  width: 55%;
  display: block;
  border: 0px;
  height: 42px;
  margin-top: 25px;
  margin-bottom: 30px;
}
.footer-middle-left .footer-middle-left-search button{
  background: #000 0% 0% no-repeat padding-box;
  border-radius: 5px;
  height: 41px;
  color: #fff;
  border: 0px;
  width: 130px;
  border: 1px solid #FF7518;
}
.footer-middle-left .footer-middle-left-search button:hover{
  background: #FF7518;
}
.footer-middle-left a img{
  width: 230px;
  margin-top: 45px;
}
.Begin-Your-Funding-Journey-middle-left{
  border: 2px solid #FF7518;
  border-bottom: 0px;
border-radius: 100px 200px 0px 0px;
width: 60%;
display: flex;
position: relative;
}
.Begin-Your-Funding-Journey-middle-left-left h4{
  color: #fff;
  font-size: 32px;
}
.Begin-Your-Funding-Journey-middle-left-left h4 span{
  color: #FF7518;
} 
.Begin-Your-Funding-Journey-middle-left-left p{
  color: #fff;
  padding-left: 50px;
  margin-top: 60px;
  padding-right: 50px;
}
.Begin-Your-Funding-Journey-middle-left-left p a{
  background: #000 0% 0% no-repeat padding-box;
  border-radius: 5px;
  color: #fff;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  padding: 9px 20px;
  margin-top: 10px;
  display: inline-block;
  border: 1px solid #FF7518;
} 
.Begin-Your-Funding-Journey-middle-left-left p a:hover{
   background: #FF7518;
}
.Begin-Your-Funding-Journey-middle-left-left p a img{
  width: 12px;
  margin-left: 15px;
}
.Begin-Your-Funding-Journey{
  background: #222222;
  padding: 80px 0px 0px 0px;
  position: relative;
}
.Begin-Your-Funding-Journey-middle-left-left{
  padding: 100px 70px 110px 70px ;
  width: 80%;
}
.Begin-Your-Funding-Journey-middle-left-right img{
  width: 55%;
  position: absolute;
  right: 0px;
  right: -80px;
  bottom: -1px;
  z-index: 1111;
}
.Begin-Your-Funding-Journey-right-icon{
  text-align: center;
  background: #707070 0% 0% no-repeat padding-box;
  border-radius: 200px 0px 0px 0px;
  position: absolute;
  width: 54%;
  bottom: 0px;
  right: 0px;
  z-index: 1;

}
.Begin-Your-Funding-Journey-right-icon img{
  width: 170px;
    padding: 60px 0px;
    padding-left: 0%;
    margin-left: 20%;
}
.Begin-Your-Funding-Journey-middle{
  position: relative;
}
.Begin-Your-Funding-Journey-right-icon2{
  position: absolute;
  top: 0px;
  right: 90px;
}
.Begin-Your-Funding-Journey-right-icon2 img{
  width: 70px;
}
.Insights-Industry-Trends{
  background: #222222;
  padding:80px 0px 0px 0px;
  position: relative;
}
.Insights-Industry-Trends h4{
  text-align: center;
  color: #fff;
  font-size: 32px;
}
.Insights-Industry-Trends h4 span{
  color: #FF7518;
}
.Insights-Industry-Trends p{
  color: #fff;
  margin-bottom: 0px;
  text-align: center;
  margin-top: 30px;
}
.Insights-Industry-Trends p span{
  display: block;
}
.testimonial-frame-right img{
  width: 100%;
}
.testimonial-frame-right p:nth-child(2){
  color: #707070;
    font-weight: 600;
    font-size: 16px;
    text-align: left;
    width: 90%;
}
.testimonial-frame-right p img{
  width: 20px;
    float: right;
    margin-right: 20px;
}
.testimonial-frame-right{
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 25px;
  padding: 10px 10px;
  width: 90%;
  margin: 0 auto;
}
.testimonial-frame-right p:nth-child(3){
  display: inline-block;
  width: 100%;
  margin-top: 0px
}
.rain-main-images-main{
  margin-top: 50px;
}
.Empowering-Staffing-Companies{
  background: #000;
}
.Empowering-Staffing-Companies-middle{
  display: flex;
  padding-top: 30px;
    padding-bottom: 30px;
}
.Empowering-Staffing-Companies-middle-left{
  width: 32%;
}
.Empowering-Staffing-Companies-middle-right{
  width: 45%; 
}
.Empowering-Staffing-Companies-middle-left h4{
  color: #fff; 
  font-size: 32px; 
  line-height: 40px;
}
.Empowering-Staffing-Companies-middle-left span{
  color: #FF7518; 
}
.Empowering-Staffing-Companies-middle-right{

}
.Empowering-Staffing-Companies-middle-right p{
  color: #F2F2F2;
}
.Empowering-Staffing-Companies-middle-right a{
  background: #000 0% 0% no-repeat padding-box;
    border-radius: 5px;
    color: #fff;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 auto;
    padding: 7px 15px;
    margin-top: 10px;
    display: inline-block;
    border: 1px solid #FF7518;
}
.Empowering-Staffing-Companies-middle-right a:hover{
  background: #FF7518;
}
.marqu-main-frame{
  display: flex; 
}
.marqu-main-frame-img{
width: 15%;
}
.marqu-main-frame-img img{
width: 100%;
}
.marqu-main-frame-img-cont{
position: relative;
background: #FF7518 0% 0% no-repeat padding-box;
border-radius: 25px;
width: 400px;
padding: 40px;
margin-left: 40px;
margin-right: 40px;
}
.marqu-main-frame-img-cont h4{
  color: #fff;
  font-size: 34px;
  line-height: 55px;
}
.marqu-main-frame-img-cont p{
  color: #fff;
  width: 80%;
  margin-top: 40px;
}
.marqu-main-frame-img-cont p a{
  
}
.marqu-main-frame-img-cont p a img{
  width: 25px;
  position: absolute;
  bottom: 30px;
  right: 35px;
}
.rfm-marquee-container {
  padding-bottom: 50px;
}
.rfm-marquee-container:hover .rfm-marquee{
  animation-play-state: paused;
}
.Reliable-Funding-When-You-Need{
  background: #000000;
  padding-top: 60px;   
  padding-bottom: 60px;

}
.Reliable-Funding-When-You-Need-middle{
      display: flex;
      position: relative;
      z-index: 9999;
}
.Reliable-Funding-When-You-Need-middle-left{
  width: 40%;
}
.Reliable-Funding-When-You-Need-middle-left-header h4{
  color: #fff;
  font-size: 32px;
}
.Reliable-Funding-When-You-Need-middle-left-header h4 span{
  color: #FF7518;
}
.Reliable-Funding-When-You-Need-middle-left-header-cont{
  padding-left: 50px;
  margin-top: 60px;
  padding-right: 50px;
}
.Reliable-Funding-When-You-Need-middle-left-header-cont p{
  color: #F2F2F2; 
}
.Reliable-Funding-When-You-Need-middle-left-header-cont p a{
  background: #000 0% 0% no-repeat padding-box;
    border-radius: 5px;
    color: #fff;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 auto;
    padding: 7px 15px;
    margin-top: 10px;
    display: inline-block;
    border: 1px solid #FF7518;
}
.Reliable-Funding-When-You-Need-middle-left-header-cont p a:hover{
  background: #FF7518;
}
.Reliable-Funding-When-You-Need-middle-left-header-cont-bottom{
  display: flex;
      background: #222222 0% 0% no-repeat padding-box;
      border-radius: 25px;
      opacity: 1;
      padding: 30px 30px;
    justify-content: space-between;
   margin-top: 100px;
   transform: translate(0px,0px);
   transition: transform 1s ease-in-out;
}
.Reliable-Funding-When-You-Need-middle-left-header-cont-bottom:hover{
  transform: translate(0px,-25px);
}
.Reliable-Funding-When-You-Need-middle-left-header-cont-bottom.two{
  transform: translate(45px,0px);
  margin-top: 0px;
}
.Reliable-Funding-When-You-Need-middle-left-header-cont-bottom.two:hover{
  transform: translate(-15px,0px); 
}
.Reliable-Funding-When-You-Need-middle-left-header-cont-bottom-to-left h4{
  color: #FF7518;
  font-size: 18px;
  font-weight: 600;
}
.Reliable-Funding-When-You-Need-middle-left-header-cont-bottom-to-left p{
  color: #F2F2F2;
  margin-top: 20px;
  margin-bottom: 0px;
} 
.Reliable-Funding-When-You-Need-middle-left-header-cont-bottom-to-right img{
  width: 90px;
}
.Reliable-Funding-When-You-Need-middle-left-header-cont-bottom-to-left{
width: 70%;
}
.Reliable-Funding-When-You-Need-middle-left-header-cont-bottom-to-right{
  width: 20%;
}
.Reliable-Funding-When-You-Need-middle-right{
  width: 45%;
  padding-left: 3%;
}
.Rapid-Fund-Processing-main{
  display: flex;
  width: 107%;
}
.Rapid-Fund-Processing-main-left{
width: 50%;
}
.Rapid-Fund-Processing-main-right{
  width: 46%;
  margin-left: 4%;
  margin-top: 22%; 
}
.Rapid-Fund-Processing-main-left-middl{
  background: #222222 0% 0% no-repeat padding-box;
    border-radius: 25px;
    padding: 30px 30px;
    margin-top: 50px;
}
.Rapid-Fund-Processing-main-left-middl h4{
  color: #FF7518;
  font-size: 18px;
  font-weight: 600;
}
.Rapid-Fund-Processing-main-left-middl p{
  color: #F2F2F2;
  margin-top: 20px;
  margin-bottom: 0px;
}
.Rapid-Fund-Processing-main-left-middl img{
  width: 55px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.Rapid-Fund-Processing-main-left-middl img.Hover{
  display: none;
}
.Rapid-Fund-Processing-main-left-middl:hover img.Hover{
display: block;
} 
.Rapid-Fund-Processing-main-left-middl.twoo img{
  right: -13px;
    bottom: -12px;
}
.Rapid-Fund-Processing-main-left-middle{
  display: flex;
  justify-content: space-between;  
  position: relative;  
}
.Rapid-Fund-Processing-main-left-middle-left{
  width: 70%;
}
.Rapid-Fund-Processing-main-right-midl{
  background: #222222 0% 0% no-repeat padding-box;
    border-radius: 25px;
    padding: 30px 30px;
    transform: translate(0px, 0px);
    transition: transform 1s ease-in-out;
}
.Rapid-Fund-Processing-main-right-midl:hover{
  transform: translate(0px, -25px);
}
.Rapid-Fund-Processing-main-right-midl img{
  width: 65px;
  margin-bottom: 35px;
}
.Rapid-Fund-Processing-main-right-midl h4{
  color: #FF7518;
    font-size: 18px;
    font-weight: 600;
}
.Rapid-Fund-Processing-main-right-midl p{
  color: #fff;
}
.Rapid-Fund-Processing-main-left-middl:hover{
  background: #FF7518;
}
.Rapid-Fund-Processing-main-left-middl:hover h4{
  color: #fff;
}
.Your-Trusted-Partner-for-Payroll-Funding{
  background: #000;
  padding-bottom: 7%;
  padding-top: 4%;
  position: relative;
}

.Your-Trusted-Partner-for-Payroll-Funding::after{
background: url(../app/img/Ellipse-4@2x.png);
content: "";
}
.Reliable-Funding-When-You-Need{
  position: relative;
}
.Reliable-Funding-When-You-Need::after{
  content: "";
  background: linear-gradient(90deg, #ff75184a 0%, #00000030 35%, #ff75184a 100%);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.Reliable-Funding-When-You-Need::before{
  content: "";
  background: url(/_next/static/media/Fundedd-logo-04@2x-new.583b6ad4.png);
  position: absolute;
  bottom: -44%;
  left: -7%;
  width: 40%;
  height: 100%;
  z-index: 0;
  background-size: 500px;
  background-repeat: no-repeat;
}
.Your-Trusted-Partner-for-Payroll-Funding::before{
  content: "";
    background: linear-gradient(90deg, #ff75184a 0%, #00000030 35%, #ff75184a 100%);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.Your-Trusted-Partner-for-Payroll-Funding-middle{
  display: flex;
  justify-content: space-between;
  position: relative; 
}
.Your-Trusted-Partner-for-Payroll-Funding-left{
  width: 40%;
  display: flex;
  background: #FF7518;
  border-radius: 25px;

}
.Your-Trusted-Partner-for-Payroll-Funding-right{
  width: 55%;
  display: flex;
  background: #222222;
  border-radius: 25px;
}
.Your-Trusted-Partner-for-Payroll-Funding-left-left{
  width: 100%;
  padding: 8%;
}
.Your-Trusted-Partner-for-Payroll-Funding-left-right{
  width: 40%;
  display: none;
}
.Your-Trusted-Partner-for-Payroll-Funding-left-right img{
  width: 100%;
}
.Your-Trusted-Partner-for-Payroll-Funding-left-left h4{
  color: #fff;
  font-size: 32px;
}
.Your-Trusted-Partner-for-Payroll-Funding-left-left p{
  color: #fff;
  margin-top: 50%;
}
.Your-Trusted-Partner-for-Payroll-Funding-right-left h4{
  color: #fff;
  font-size: 32px;
}
.Your-Trusted-Partner-for-Payroll-Funding-right-left ul{
  margin-top: 30% !important;
}
.Your-Trusted-Partner-for-Payroll-Funding-right-left ul li{
  color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.Your-Trusted-Partner-for-Payroll-Funding-right-left ul li img{
  width: 18px;
  margin-right: 14px;
}
.Your-Trusted-Partner-for-Payroll-Funding-right-left{
  padding: 8%;
}
.Your-Trusted-Partner-for-Payroll-Funding-right-right {
  width: 65%;
}
.Your-Trusted-Partner-for-Payroll-Funding-right-right img{
  width: 100%;
}
.Your-Trusted-Partner-for-Payroll-Funding-left:hover .Your-Trusted-Partner-for-Payroll-Funding-right{
display: none;
}
.How-Fundedd-Stands-Out{
  background: #222222;
  padding: 70px 0px;
}
.How-Fundedd-Stands-Out h4{
  text-align: center;
    color: #fff;
    font-size: 32px;
} 
.How-Fundedd-Stands-Out h4 span{
  color: #FF7518;
}
.tab-view .react-tabs__tab-list{
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 100px;
  opacity: 1;
  border: 0px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto !important;
  margin-top: 50px !important;
  padding: 5px 11px !important;
}      
.tab-view .react-tabs__tab--selected {
  color: #FF7518 !important;
  border-radius: 5px 5px 0 0;
  background: #222222 0% 0% no-repeat padding-box;
  border: 4px solid #000000;
  border-radius: 100px;
  opacity: 1;
}      
.tab-view .react-tabs__tab{

  color: #727272;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 30px;
}   
.tab-view  .react-tabs__tab:focus { margin:0px !important;outline: none; border: 0px !important;    padding: 10px 30px !important;}     

.tab-view  .react-tabs__tab:focus:after {
  background: transparent !important;
} 
.tab-inner-frame p{
  color: #fff;
} 
.tab-inner-frame p a{ 
  background: #FF7518 0% 0% no-repeat padding-box;
    border-radius: 5px;
    color: #fff;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 auto;
    padding: 7px 15px;
    margin-top: 30px;
    display: inline-block;
}  
.tab-inner-frame{
  text-align: center;
  margin-top: 50px;
} 
.Expert-Advisory-for{
  background: #000;
  padding: 70px 0px;
  position: relative;
} 
.Expert-Advisory-for-middle{
  display: flex;
}
.Expert-Advisory-for-middle-left{
  width: 50%;
}
.Expert-Advisory-for-middle-right{
  width: 50%; 
}
.Expert-Advisory-for-middle-left-cont{

}
.Expert-Advisory-for-middle-left-cont h3{
  color: #fff;
  font-size: 32px;  
} 
.Expert-Advisory-for-middle-left-cont h3 span{
  display: block; 
}
.Expert-Advisory-for-middle-left-cont h4{
  color: #FF7518 !important;
  font-size: 20px;
  margin-top: 40px;
} 
.Expert-Advisory-for-middle-left-cont p{
  color: #fff;
  margin-top: 50px;
  padding-left: 80px;
  width: 80%;

}    
.Expert-Advisory-for-middle-right{

}   
.Expert-Advisory-for-middle-right img{
  width: 80%;
 
  display: table;
  transition: transform .2s;
}
.Expert-Advisory-for-middle-right img:hover{
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}
.Expert-Advisory-for-middle.two .Expert-Advisory-for-middle-right{
  margin-top: 70px;
  margin-left: 80px;

}
.Expert-Advisory-img-resp-main {
  width: 40%;
  position: relative;
}
.Expert-Advisory-img-resp-main img.left-Advisory{
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 999;
}
.Expert-Advisory-img-resp-main img.right-Advisory{
  width: 200px;
  position: absolute;
  bottom: 85px;
  right: -80px;
}
.What-Our-Clients-Say{
  padding: 80px 0px;
  background: #3C3C3C;
  position: relative;
}
.Our-Clients-middle{
  display: flex;
 
}
.Our-Clients-middle-left h4{
  color: #fff;
  font-size: 32px;  
}
.Our-Clients-middle-left h4 span{
  color: #FF7518;
}
.Our-Clients-middle-left p{
  color: #fff;
  margin-top: 25px;
}
.Our-Clients-middle-left{
  width: 25%;
}
.Our-Clients-middle-right{
  width: 53%;
  margin-left: 4%;
  position: relative;
  z-index: 99999;
}
.test-midl-f{
display: flex;
background: #E4E4E4 0% 0% no-repeat padding-box;

border-radius: 25px;
opacity: 1;
padding: 30px;
width: 85%;
margin: 0 auto;
margin-bottom: 30px;
}
.test-midl-f-left{
  width: 26%;
  position: relative;
  left: -73px;
}
.img-ggh img{
  width: 20px !important;
  } 
.test-midl-f-right{
  width: 75%;
    position: relative;
}
.client-say-frame .carousel.carousel-slider .control-arrow{
  display: none !important;
}
.test-midl-f-right p:nth-child(2){
  font-weight: 600;
    font-size: 16px;
    text-align: left;
}
.test-midl-f-right p:nth-child(3){
    font-size: 14px;
    text-align: left;
}
.img-ggh img.left-img{
  position: absolute;
  left: -35px;
}
.img-ggh img.right-img{
  position: absolute;
  right: 100px;
  bottom: 50px;
}
.What-Our-Clients-Say .carousel .carousel-status{
  display: none !important;
}
.What-Our-Clients-Say .carousel .control-dots .dot.selected, .carousel .control-dots .dot:hover{
  width: 40px;
    height: 10px;
    background: #FF7518 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 1;
    transition: initial;
    box-shadow: initial;
}
.What-Our-Clients-Say .carousel .control-dots .dot{
  width: 40px;
    height: 10px;
    background: #fff 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 1;
    transition: initial;
    box-shadow: initial;
}
.client-name-right-mig{
  position: absolute;
  top: 17%;
  width: 21%;
  right: 0px;
}
.client-name-right-mig img{
width: 100%;
}
@media all and (min-width:120px) and (max-width:680px){

  
}